* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    color: aliceblue;
    height: 100vh;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}


.dice {
   
    font-size: 5rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.dice-animation {
    animation-name: roll-dice;
}

@keyframes roll-dice {
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }
    100%{
        transform: rotateY(720deg) rotateX(720deg);

    }
}

#roll-button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 1rem;
    border: none;
}

#roll-button:hover {
    opacity: 80%;
}

#roll-history {
    width: 300px;
   
    list-style-type: none;
    
}


#roll-history li {
    margin: 10px;
    background-color: orange;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

li span {
    font-size: 2rem;
}