* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: aliceblue;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body .heading {
    margin-top: 20px;
    text-align: center;
    color: bisque;
    font-size: 2rem;
  
}
@media (max-width:780px) {
    body .heading {
       
        font-size: 1.5rem;
      
    }
    
}

.heading span {
    color: green;
}


.container {
    width: 80%;
    max-width: 600px;
    /* min-height: 20%; */
    color: brown;
    background-color: azure;
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 2px 2px 10px black;

}
.container p {
    margin-top: 10px;
    color: gray;
    font-size: .7rem;
    line-height: 10px;
}

.progress-bar {
    margin-top: 15px;
    width: 100%;
    height: 15px;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.318);
}

.progress-bar .top {
    width: 30%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
    z-index: 2;
    color: white;
    font-size: .5rem;
    padding-left: 10px;
    display: flex;
    align-items: center;
    transition: width .3s ease;
}


.error-message {
    display: none;
    font-size: 1px;
    margin-top: 10px;
    font-size: 0.8rem;
 
    
}

.error-message.show-error {
   display: block;
   margin-top: 10px;
   
}

.task-container{
    margin-top: 20px;
    width: 100%;
    height: 80px;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    transition: border .3s;
    overflow: hidden;

}


.custom-check {
    display: inline-block;
    background-color: white;
    margin-left: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color .3s;
    
}

.task-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:100%;
    height: 100%;
    padding: 0px 22px;
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.2rem;
}


.task-input::placeholder {
    font-size: 1rem;
}

.task-container.completed{
    border: 2px solid green;
}

.task-container.completed .custom-check{
    background-color: rgb(46, 214, 46);
}

.task-container.completed .task-input {
    color: green;
    text-decoration-line: line-through;
}

#tick-mark {
    width: 30px;
    height: 30px;
   
}

.quote {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 500;
    color: blueviolet;
}
.quote::after{
    content: '"';
}
.quote::before{
    content: '"';
}

.made-with{
    text-align: center;
    font-size: .7rem;
    margin-top: 30px;
    color: #797979c2;
}